body{
  font-size:small;
}
#character{
  display:flex;
  width:100%;
  flex-direction:row;
  justify-content:space-around;
}
#character>div{
  width:25%;
  padding:0em 1em;
  text-align:center;
}
#character>div>div{
  display:grid;
  grid-template:100% / 50% 50% ;
  align-items:center;
}
#character h2,#character h3{
  margin:1em;
}
#character input{
  margin-left:1em;
  width:100%;
}
.error{background-color:pink;}
#items{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}
.item{
  margin:1em;
  padding:1em;
  border:solid black 1px;
  border-radius:1em;
  width:30%;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
}
.item>*{
}
.item .property{
  display:grid;
  grid-template:100% / auto 30% 50% auto;
}
.item .score{
  font-size:medium;
  padding:1em;
  text-align:right;
  font-weight:bold;
}
